body{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 10px 20px;
}
.articles{
    border: solid;
    background-color: rgb(183, 216, 216);
    width: 500px;
    height: 300px;
    
}